[build]
  # Clean the command to remove the broken variable
  command = "npx prisma generate && npx prisma migrate deploy && npm run build"
  publish = ".next"

[[plugins]]
  package = "@netlify/plugin-nextjs"

[build.environment]
  NODE_VERSION = "20"
  NPM_CONFIG_IGNORE_SCRIPTS = "true"