[build]
  command = "PRISMA_CLI_BINARY_TARGETS=rhel-openssl-3.0.x npx prisma generate && npx prisma migrate deploy && npm run build"
  publish = ".next"

[[plugins]]
  package = "@netlify/plugin-nextjs"

[build.environment]
  NODE_VERSION = "20"
  # This helps bypass the Husky error if it still lingers
  NPM_CONFIG_IGNORE_SCRIPTS = "true"