[build]
  # Removed 'npx prisma migrate deploy' to unblock the build
  command = "npx prisma generate && npm run build"
  publish = ".next"

[[plugins]]
  package = "@netlify/plugin-nextjs"

[build.environment]
  NODE_VERSION = "20"
  NPM_CONFIG_IGNORE_SCRIPTS = "true"